<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Project Manasarovar - A Search Engine for your Datalake</title>
  <!-- Favicon-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="../AdminBSBMaterialDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="../AdminBSBMaterialDesign/plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="../AdminBSBMaterialDesign/plugins/animate-css/animate.css" rel="stylesheet" />

  <!--WaitMe Css-->
  <link href="../AdminBSBMaterialDesign/plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="../AdminBSBMaterialDesign/css/style.css" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="../AdminBSBMaterialDesign/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-lime">
  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/">Manasarovar - A Datalake Search Engine</a>
      </div>
    </div>
  </nav>
  <!-- #Top Bar -->
  <section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
      <!-- Menu -->
      <div class="menu">
        <ul class="list">
          <li>
            <a href="http://localhost:3000/">
              <i class="material-icons">home</i>
              <span>Search</span>
            </a>
          </li>


          <li>
            <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">storage</i>
              <span>Data Source</span>
            </a>
            <ul class="ml-menu">
              <li>
                <a href="http://localhost:3000/">
                  <i class="material-icons">grid_on</i>
                  <span>Apache Hive</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- #Menu -->
    </aside>
  </section>

  <section class="content">
    <div class="container-fluid">
      <%- es_search_section %>
        <%- es_search_resp_section %>
    </div>
  </section>

  <!-- Jquery Core Js -->
  <script src="../AdminBSBMaterialDesign/plugins/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="../AdminBSBMaterialDesign/plugins/bootstrap/js/bootstrap.js"></script>

  <!-- Select Plugin Js -->
  <script src="../AdminBSBMaterialDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

  <!-- Slimscroll Plugin Js -->
  <script src="../AdminBSBMaterialDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="../AdminBSBMaterialDesign/plugins/node-waves/waves.js"></script>

  <!-- Wait Me Plugin Js -->
  <script src="../AdminBSBMaterialDesign/plugins/waitme/waitMe.js"></script>

  <!-- Custom Js -->
  <script src="../AdminBSBMaterialDesign/js/admin.js"></script>
  <script src="../AdminBSBMaterialDesign/js/pages/cards/colored.js"></script>

  <!-- Demo Js -->
  <script src="../AdminBSBMaterialDesign/js/demo.js"></script>

</body>

</html>
